<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="cn.SuowenTech.Dao.NewsDao">

<select id="findNewsById" parameterType="int" resultType="cn.SuowenTech.po.News">
	SELECT * FROM news WHERE news_id = #{news_id}
</select>


</mapper>